<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Ironhacker!

</br>
</br>
</br>
</br>

<a href="courses/index">CHECK ALL IRONHACK COURSES</a>

<% if(!user) { %>
  <ul>
    <li><a href="/auth/login">Login</a></li>
  </ul>
<% } else { %>
  <h2>Hola <%= user.username %></h2>
</br>
  <a href="/auth/logout">Logout</a>
  <% if(user.role === 'Boss') { %>
    <a href="/auth/addUser">Add User</a>
    <% } else if (user.role === 'TA') { %>
      <a href="/profiles/index">See Profiles</a>
    <% } %>
<% } %>

</body>
</html>
